h1{
    position: absolute;
    margin-left: 23%;
    margin-top: 2%;
}
body{
    background-color: #EAEFBD;
    padding: 2%;
}
.logo{
    width: 5%;
    border-radius: 50%;
}
#minhaFoto{
    float: left;
    width: 20%;
    height: 330px;
    padding: 10px;
    background-color: royalblue;
}
section{
    height: 350px;
}
p{
    text-align: justify;
}
article{
    margin-top: 15%;
    position: absolute;
    margin-left: 23%;
    padding-right: 2%;
}